.a {
    &-sm {
        background-color: $primary; // placeholder only
        width: 55px;
        height: 55px;
        border-radius: 50px;
    }
    &-md {
        background-color: $primary; // placeholder only
        width: 87px;
        height: 87px;
        border-radius: 50px;
    }
    &-l {
        background-color: $primary; // placeholder only
        width: 205px;
        height: 205px;
        border-radius: 100px;
    }
}