// Bold Text
@font-face {
    font-family: $font-family-gotham;
        src: url("Fonts/Gotham/Gotham-Bold.otf");
        src: url("Fonts/Gotham/GothamBold.ttf");
        font-weight: bold;
}

// Regular Text
@font-face {
    font-family: $font-family-gotham;
        src: url("Fonts/Gotham/GothamBook.ttf");
        font-style: normal;
}