footer {
	background-color: $primary;
	color: white;
	.uk-nav {
		a {
			color: white;
			letter-spacing: 1px;
		}
	}
	img {
		width: 80px;
	}

	h4 {
		color: white;
	}
	h6 {
		color: gray;
	}
	i {
		color: white;
		font-size: 25px;
	}
}
