input {
	&.uk-input {
		border-radius: 2px;
	}

	&.uk-input:focus {
		border-color: $primary;
	}

	&.uk-checkbox:checked {
		background-color: $primary !important;
		border-color: $primary;
	}

	&.uk-checkbox:hover {
		border-color: $primary;
	}

	&.uk-radio:checked {
		background-color: $primary !important;
	}

	&.uk-radio:hover {
		border-color: $primary;
	}

	&.uk-form-danger {
		border-color: $danger;
	}

	&.uk-form-danger:focus {
		border-color: $danger;
	}

	&.uk-form-success {
		border-color: $success;
	}

	&.uk-form-success:focus {
		border-color: $success;
	}
}

select {
	&.uk-select {
		border-radius: 2px;
	}

	&.uk-select:focus {
		border-color: $primary;
	}

	&.uk-select::selection {
		background: $primary;
	}
}

textarea {
	&.uk-textarea:focus {
		border-color: $primary;
	}
}

.uk-alert-danger {
	background-color: #fff;
	border-color: $danger;
}

.uk-alert-danger p {
	color: $danger;
}

// Toggle
.switch {
	position: relative;
	input[type="checkbox"] {
		visibility: hidden;
		&:checked {
			+ label {
				background-color: $primary;
				&:after {
					left: 27px;
				}
			}
		}
	}
	label {
		position: absolute;
		width: 50px;
		height: 23px;
		top: 0;
		left: 0;
		background-color: $gostDark;
		border-radius: 50px;
		&:after {
			content: "";
			width: 25px;
			height: 25px;
			background-color: $background;
			position: absolute;
			left: -1px;
			top: -1px;
			border-radius: 50px;
			box-shadow: 0 0 4px;
		}
	}
}
