input {
	&.uk-input {
		border-radius: 2px;
	}

	&.uk-input:focus {
		border-color: $primary;
	}

	&.uk-checkbox:checked {
		background-color: $primary !important;
		border-color: $primary;
	}

	&.uk-checkbox:hover {
		border-color: $primary;
	}

	&.uk-radio:checked {
		background-color: $primary !important;
	}

	&.uk-radio:hover {
		border-color: $primary;
	}

	&.uk-form-danger {
		border-color: $danger;
	}

	&.uk-form-danger:focus {
		border-color: $danger;
	}

	&.uk-form-success {
		border-color: $success;
	}

	&.uk-form-success:focus {
		border-color: $success;
	}
}

select {
	&.uk-select {
		border-radius: 2px;
	}

	&.uk-select:focus {
		border-color: $primary;
	}

	&.uk-select::selection {
		background: $primary;
	}
}

textarea {
	&.uk-textarea:focus {
		border-color: $primary;
	}
}

.uk-alert-danger {
	background-color: #fff;
	border-color: $danger;
}

p.w-message {
	color: $danger;
}

// Toggle
.toggle {
	position: relative;
	display: inline;

	input[type="checkbox"] {
		position: relative;
		width: 80px;
		height: 35px;
		background: $ghostDark;
		appearance: none;
		border-radius: 20px;
		outline: none;
		transition: 0.4s;
		box-shadow: 0 0 4px;
		cursor: pointer;
	}
	input:checked[type="checkbox"] {
		background: $primary;
	}
	//slider
	input[type="checkbox"]::before {
		z-index: 2;
		position: absolute;
		content: "";
		left: 0;
		width: 35px;
		height: 35px;
		background: #fff;
		border-radius: 50%;
		transform: scale(1.1);
		box-shadow: 0 0 4px;
		transition: 0.4s;
	}
	//slide left to right
	input:checked[type="checkbox"]::before {
		left: 45px;
	}
}
//on and off
label {
	&.onbtn {
		position: absolute;
		color: #fff;
		font-size: 20px;
		pointer-events: none;
		bottom: 10px;
		left: 13px;
	}

	&.offbtn {
		position: absolute;
		font-size: 20px;
		pointer-events: none;
		bottom: 9px;
		right: 11px;
		color: $primary;
	}
}
