.tab {
	.uk-active {
		a {
			border-color: $secondary;
			border-width: 3px;
		}
	}

	:hover {
		a {
			border-color: $hoverTab;
			border-width: 3px;
		}
	}

	&-disable-border-bottom {
		&::before {
			border-bottom: 1px solid $primary;
		}
	}

	&-border-bottom {
		&::before {
			border-bottom: none;
		}
	}
}
