.text {
    // Font Family
    &-f {
        &-gotham {
            font-family: $font-family-gotham;
        }
    }

    // Font Sizes
    &-s {
        &-h1 {
            font-size: $h1;
        }
        &-h2 {
            font-size: $h2;
        }
        &-h3 {
            font-size: $h3;
        }
        &-h4 {
            font-size: $h4;
        }
        &-p {
            font-size: $p;
        }
    }

    // Font Weight
    &-w {
        &-book {
            font-weight: 400;
        }
        &-bold {
            font-weight: 700;
        }
    }
}