// Margin and Padding Sizes
$xs: 8px;
$sm: 16px;
$lg: 24px;
$md: 32px;
$xl: 64px;
$xxl: 104px;

// Font Family
$font-family-gotham: 'Gotham';

// Font Sizes
$h1: 48px;
$h2: 34px;
$h3: 28px;
$h4: 18px;
$p: 14px;
